{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
  <title>Register</title>
</head>
<body class="main">
  <h1>Register</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'store:create_listing' %}">
    {% csrf_token %}
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password">
    <br>
    <input type="submit" value="Register">
  </form>
</body>
{% endblock %}
