{% load static %}
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <script src="{% static 'js/sidebar.js' %}"></script>
</head>
<body>
  {% include 'sidebar.html' %}
  <div class="grid-container">
    {% for object in object_list %}
        <div class="grid-cell">
          <a href="{% url 'listing_detail' listing.pk %}">
            <img src="{{ listing.listingimage.url }}" alt="{{ listing.listingname }}" class="image">
            <p>{{ listing.listingname }}</p>
            <p>{{ listing.price }}</p>
        </a>
        </div>
    {% endfor %}
</div>      
</body>
</html>