{% load static %}
<!DOCTYPE html>
<html>
<head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
<body class="main">
    <div>
        {% block content %}
        <h2>Create listing</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Create">
        </form>
    {% endblock %}
    </div>
</body>
</html>