{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
{% include 'sidebar.html' %}
  <h1>Mani sludinājumi</h1>
  {% if request.user.is_authenticated %}
  <div class="grid-container">
    {% if object_list %}
      {% for object in object_list %}
        <div class="grid-cell">
          <a href="{% url 'store:listing_detail' object.pk %}">
            <div class="grid-cell">
                <img src="{{ object.listingimage.url }}" alt="{{ object.listingname }}" class="image">
                <p>{{ object.listingname }}</p>
                <p>{{ object.price }}{{object.currency}}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    {% else %}
    <form action="{% url 'store:create_listing' %}" method="get">
    <input type="submit" value="Izveidot savu pirmo sludinājumu">
    </form>
    {% endif %}
    {% else %}
    <p>Vēlaties ieiet profilā? <a href="/login/">Pieslēgties</a></p>
    {% endif %}
{% endblock %}