{% extends 'base.html' %}
{% load static %}

{% block content %}
<!DOCTYPE html>
<html>
<head>
    <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script src="{% static 'js/sidebar.js' %}"></script>
</head>
{% include 'sidebar.html' %}
  <h1>My listings</h1>
  {% if request.user.is_authenticated %}
  <div class="grid-container">
    {% if object_list %}
      {% for object in object_list %}
        <div class="grid-cell">
          <a href="{% url 'store:listing_detail' object.pk %}">
            <div class="grid-cell">
                <img src="{{ object.listingimage.url }}" alt="{{ object.listingname }}" class="image">
                <p>{{ object.listingname }}</p>
                <p>{{ object.price }}{{object.currency}}</p>
            </div>
          </a>
          <a href="{% url 'store:edit_listing' object.pk %}">Mainīt</a>
        </div>
      {% endfor %}
    {% else %}
    <form action="{% url 'store:create_listing' %}" method="get">
    <input type="submit" value="Create your 1st listing">
    </form>
    {% endif %}
    {% else %}
    <p>To view your listings, you must be logged in. <a href="/login/">Log in</a></p>
    {% endif %}
{% endblock %}
