<!DOCTYPE html>
<html>
<head>
</head>
<body>

  <div class="side-menu-wrapper" {% if show_menu %}style="display:block;"{% else %}style="display:none;"{% endif %}>
    <div id="side-menu">
      <ul>
        <li><a href="#home">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  
  <div class="grid-container">
    {% for object in object_list %}
        <div class="grid-cell">
            <p>{{ object.name }}</p>
            <p>{{ object.description }}</p>
            <img src="{{ object.image.url }}" alt="{{ object.name }}" class="image">
        </div>
    {% endfor %}
</div>      

</body>
</html>