{% extends 'base.html' %}

{% block content %}

{% if not request.user.is_authenticated %}
  <h2>Pieslēgšanās</h2>
  <form method="POST">
    {% if error %}
      <p style="color:red">{{ error }}</p>
    {% endif %}
    {% csrf_token %}
    <div>
      <label>Lietotājvārds: </label>
      <input type='text' name='username'>
    </div>
    <div>
      <label>Parole: </label>
      <input type='password' name='password'>
    </div>
    <button type="submit">Pieslēgties</button>
  </form>
  {% else %}
  <p>Jau esat pieslēgušies, vēlaties atslēgties? <a href="/logout/">Atslēgties</a></p>
  {% endif %}
{% endblock %}