{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" href="{% static "admin/css/forms.css" %}">{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% translate 'Galvenā lapa' %}</a>
&rsaquo; {% translate 'Paroles maiņa' %}
</div>
{% endblock %}

{% block content %}

<p>{% translate 'Aizmirsāt paroli? Ievadiet savu e-pastu un mēs drīz jums nosūtīsim informāciju par paroles maiņu' %}</p>

<form method="post">{% csrf_token %}
<fieldset class="module aligned">
    <div class="form-row field-email">
        {{ form.email.errors }}
        <label for="id_email">{% translate 'E-pasta adrese:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% translate 'Nomainīt manu paroli' %}">
</fieldset>
</form>

{% endblock %}
