{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
  <title>Register</title>
</head>
<body class="main">
<h2>Change password</h2>
<div class="login">
  <form method="post">
  {% csrf_token %}
  <div class="form-group">
    <label for="old_password"><b>Old password:</b></label><br>
    <input type="password" name="old_password" id="old_password" class="form-control">
  </div>
  <div class="form-group">
    <label for="new_password1"><b>New password:</b></label><br>
    <input type="password" name="new_password1" id="new_password1" class="form-control">
  </div>
  <div class="form-group">
    <label for="new_password2"><b>Confirm new password:</b></label>
    <input type="password" name="new_password2" id="new_password2" class="form-control">
  </div><br>
  <button type="sumbit" class="btn btn-primary" name="log" id="log" value="Log In Here">Confirm password change</button><br><br>    
  </form>
</div>
</div>
</body>
{% endblock %}