{% load i18n %}{% autoescape off %}
{% blocktranslate %}Jūs saņēmāt šo epastu, jo tika pieprasīta paroles maiņa {{ site_name }}.{% endblocktranslate %}

{% translate "Uzklikšķiniet uz saites un nomainiet paroli:" %}
{% block reset_link %}
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}
{% endblock %}
{% translate 'Jūsu lietotājvārds:' %} {{ user.get_username }}

{% translate "Paldies par lietošanu" %}

{% blocktranslate %}{{ site_name }} komanda{% endblocktranslate %}

{% endautoescape %}
