{% extends 'base.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html>
<head>
  <style>@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');</style>
  <link rel="stylesheet" type="text/css" href="{% static 'css/reg.css' %}">
  <title>Register</title>
</head>
<body class="main">
  <h2>Register</h2><br>
  <div class="login">
    <form id="login" method="post" action="{% url 'register' %}">
      {% csrf_token %}
      <label for="username"><b>Username:</b></label>
      <input class="Uname" type="text" id="username" name="username" value="{{ form.username.value }}" required>
      <br><br>
      <label for="password"><b>Password:</b></label>
      <input class="Pass" type="password" id="password" name="password" required>
      <br><br>
      {% if form.errors %}
        <p style="color: red;">Please correct the errors below:</p>
        <ul>
        {% for field in form %}
          {% for error in field.errors %}
            <li>{{ field.label }}: {{ error }}</li>
          {% endfor %}
        {% endfor %}
        </ul>
      {% endif %}
      <button type="sumbit" name="log" id="log" value="Register">Log in</button><br><br>
    </form>
  </div>
</body>
{% endblock %}
