{% extends 'base.html' %}

{% block content %}
  <h1>Reģistrācija</h1>
  <form method="post" enctype="multipart/form-data" action="{% url 'store:create_listing' %}">
    {% csrf_token %}
    <label for="username">Lietotājvārds:</label>
    <input type="text" id="username" name="username" required>
    <br>
    <label for="email">E-pasts:</label>
    <input type="email" id="email" name="email">
    <br>
    <label for="password">Parole:</label>
    <input type="password" id="password" name="password">
    <br>
    <label for="profile_picture">Attēls:</label>
    <input type="file" id="profile_picture" name="profile_picture" accept="image/*" required>          
    <br>
    <input type="submit" value="Reģistrēties">
  </form>
{% endblock %}
