/* Sidebar */
.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-image: url("sidebarbg.png");
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  /* Sidebar links */
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ffffff;
    display: block;
    transition: 0.3s;
  }
  
  /* Sidebar links on hover */
  .sidebar a:hover {
    color: #74a0ab;
  }

  /* Toggle button */
  .openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #748cab;
    color: white;
    padding: 10px 15px;
    outline: none;
    border-radius: 20px;
  }
  
  /* Close button */
  .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Main content */
  .main {
    font-family: 'Open Sans', sans-serif;
    background-color:#F0EBD8;
  }
  
  /* Responsive layout */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #627c99;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #748cab;
  color: #f2f2f2;
}

.logo {
  float: right;
  width: 50px;
  height: 50px;
  border: 0px;
  content: url("logo.png");
  border-radius: 5px;
}

form {
  float: right;
  padding: 14px 16px;
}