  /* Main contents */
  .main {
    font-family: 'Open Sans', sans-serif;
    background-color:#F0EBD8;
  }
  
  /* Responsive layout */
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
  }

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #627c99;
  outline-color: #445b75;
  outline-width: 5px;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #748cab;
  color: #f2f2f2;
}

.logo {
  float: right;
  width: 50px;
  height: 50px;
  border: 0px;
  content: url("logo.png");
  border-radius: 5px;
}

form {
  float: right;
  padding: 14px 16px;
}